<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
  
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
    <%= yield %>

  
  </body>
</html>
